@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #a3b18a 0%, #52796f 100%);
  box-shadow: 0 16px 14px 0 #344e41;
  padding: 28px 24px;
  height: 72vh;
  max-width: 340px;
}

.image {
  margin-bottom: 26px;
  width: 298px;
  height: 200px;
}
.title {
  font-size: 38px;
  font-weight: 900;
  color: var(--color-secondText);
}
.description {
  margin-top: 6px;
  font-size: 24px;
  font-weight: 400;
}
.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 25px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
.link:hover {
  background-color: #03045e;
  transition: 1s;
  box-shadow: 5px 5px 5px 5px rgb(142, 154, 175);
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 29px;
  }
  .description {
    font-size: 20px;
  }
  .skill {
    font-size: 17px;
  }
  .link {
    font-size: 17px;
  }
}
