@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--color-secondText);
}
.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}
.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1.5px;
}
.link img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    align-items: center;
  }
  .link a {
    font-size: 24px;
  }
}
